@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Roboto+Slab:wght@300&display=swap');
 .aboutImg img {
    max-width: 100%;
}
.aboutImg{
   margin: 2em;
   text-align: center;
}

.aboutus{
    max-width: 60vw;
    margin: auto;
    text-align: center;
}
.m-bottom{
    margin-bottom: 3vh;
}
.mbtm2{
    margin-bottom: 2vh;
}

.aboutus p{
    line-height: 5vh;
    font-family: 'Nunito', sans-serif;
    font-size: 4.5vh;
}

.heading{
    font-family: 'Roboto Slab', serif;
    color: #b66d02;
    font-size: 5vw;
    text-decoration:underline;
}

